[alias]
  st = status -sb
  co = checkout
  br = branch
  out = log @{u}..
  logt = log --graph --pretty="format:%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset"
[user]
  name = Hanna Kalinowska
  email = hanna.kalinowska@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
[core]
	excludesfile = /Users/hkalinow/.global_ignore
  editor = /usr/bin/vim
[push]
  default = simple
[filter "lfs"]
	required = true
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
